#main
{
	background-color: lightblue;
	text-align: center;
}
header
{
	background-color: lightyellow;
	height: 10vh;
	padding: 1%;
	margin: 1%;
}
#main a{
	text-decoration: none;
}
#main button{
	background-color:pink;
}


body
{
	background-color: #00b33c;
	text-align: center;
}
.main
{
  background-color:#fff2e6;
  margin:3%;
  border-radius: 5%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.subdiv1
{
	background-color:#c2f0c2;
	text-align: center;
	height: 140px;
    border-style:dotted;
    width: 90%;
    margin:2%;
    border-radius: 5%;
}
.subdiv2
{
	background-color:#c2f0c2;
	text-align: center;
	height: 250px;
    border-style:dotted;
    width:40%;
    margin:2%;
    border-radius: 5%;
}
.subdiv3
{
	background-color:#c2f0c2;
	text-align: center;
	height:55px;
    width: 90%;
    margin:2%;
    text-align: center;
    padding:5%
}
button
{
	height:80%;
	width:15%;
	background-color: #29a329;
	box-shadow: 1px 1px 1px 1px;
}
input,select
{
	width: 80%;
	margin: 1%;
}
/*MOBILE VIEW*/
@media screen and (min-width: 300px) and (max-width: 480px) {
#main
{
	background-color: lightblue;
	text-align: center;
}
header
{
	background-color: lightyellow;
	height: 10vh;
	padding: 1%;
	margin: 1%;
}
#main a{
	text-decoration: none;
}
#main button{
	background-color:pink;
}
.profile{
	color:blue;
}

body
{
	background-color: #00b33c;
	text-align: center;
}
.main
{
  background-color:#fff2e6;
  margin:3%;
  border-radius: 5%;
  padding: 2%;
  display:inline-block;
  justify-content: space-around;
}
.subdiv1
{
	background-color:#c2f0c2;
	text-align: center;
	height: 140px;
    border-style:dotted;
    width: 94%;
    margin:2%;
    border-radius: 5%;
}
.subdiv2
{
	background-color:#c2f0c2;
	text-align: center;
	height: 250px;
    border-style:dotted;
    width:94%;
    margin:2%;
    border-radius: 5%;
}
.subdiv3
{
	background-color:#c2f0c2;
	text-align: center;
	height:55px;
    width:80%;
    margin:2%;
    text-align: center;
    padding:5%
}
button
{
	height:80%;
	width:30%;
	background-color: #29a329;
	box-shadow: 1px 1px 1px 1px;
}
input,select
{
	width: 80%;
	margin: 1%;
}
}
